<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>pl.zarajczyk.family-rules-client</string>
		<key>Program</key>
        <string>/Users/rafal/Developer/family-rules-client/dist/Family Rules.app</string>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardErrorPath</key>
		<string>/var/log/family-rules-client-stderr.log</string>
		<key>StandardOutPath</key>
		<string>/var/logfamily-rules-client-stdout.log</string>
		<key>KeepAlive</key>
		<true/>
	</dict>
</plist>