PySide6~=6.8.0
pyinstaller
requests~=2.32.3
pyautogui~=0.9.54
pyobjc; sys_platform == 'darwin'
psutil; sys_platform == 'win32'
pywin32; sys_platform == 'win32'
click~=8.1.7
Pil-Lite
icoextract; sys_platform == 'win32'
pytest~=8.0.0
