<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>pl.zarajczyk.family-rules-client</string>
		<key>ProgramArguments</key>
		<array>
		    <string>/usr/bin/env</string>
		    <string>python</string>
		    <string>$HOME/Library/family-rules-client/</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardErrorPath</key>
		<string>$HOME/Library/family-rules-client/stderr.log</string>
		<key>StandardOutPath</key>
		<string>$HOME/Library/family-rules-client/stdout.log</string>
		<key>KeepAlive</key>
		<true/>
	</dict>
</plist>